table.dataTable td, table.dataTable th {
  background-color: white;
}
table.dataTable .dtfc-fixed-left,
table.dataTable .dtfc-fixed-right {
  z-index: 1;
}

div.dtfc-right-top-blocker {
  border-bottom: none !important;
}
